
.table-card {
  margin: 25px auto;
  max-width: 1000px;
  padding: 16px;
  background: #fff;
  border-radius: 8px;
}

.header-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.full-width-table {
  width: 100%;
}

mat-header-cell, mat-cell {
  padding: 8px;
  font-size: 14px;
}

mat-icon {
  vertical-align: middle;
}

.mat-elevation-z2 {
    font-weight: 600;
  font-size: 14px;
  color: #2c3e50;
  padding: 14px 16px;
  border-bottom: 1px solid #dcdcdc;
  background-color: #ebf3fc;
  border-radius: 8px;
  
}

table th {
  background-color: #94c6f7;
  border-radius: 8px;
  text-decoration: underline;
}