.full-width {
  width: 100%;
}

.submission-card {
  margin: 25px auto;
  max-width: 1200px;
  padding: 16px;
  background: #fff;
  border-radius: 8px;
}

mat-form-field.grade-input {
  width: 80px;
}

mat-form-field.feedback-input {
  width: 200px;
}

table {
  margin-top: 16px;
}

th.mat-header-cell, td.mat-cell {
  padding: 8px;
  vertical-align: middle;
}

button {
  min-width: 64px;
}

.mat-elevation-z2 {
    font-weight: 600;
  font-size: 14px;
  color: #2c3e50;
  padding: 14px 16px;
  border-bottom: 1px solid #dcdcdc;
  background-color: #ebf3fc;
  border-radius: 8px;
  
}


table th {
  background-color: #94c6f7;
  border-radius: 8px;
  text-decoration: underline;
}