.form-card {
  max-width: 450px;
  margin: 2rem auto;
  gap: 2px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

h2 {
 text-align: center;
 font-weight: 600;
font-size:x-large;
  margin-top: 2px;
}

.full-width {
  width: 100%;
}

.actions {
  display: flex;
  justify-content: flex-end;
 
}

.error {
   color: red;
  font-size: 0.9rem;
  margin-top: -0.25rem;
  margin-bottom: 0.5rem;
  text-align: left;
}

.mat-form-field-invalid .mat-input-element {
  border-bottom: 2px solid #e53935 !important;
}

