html, body {
  height: 100%;
  margin: 0;
}

/* Layout */
.app-container {
  height: 100vh;
  display: flex;
}

.app-sidenav {
  width: 250px;
  background-color: #1976d2;
  color: white;
}

.app-content {
  padding: 20px;
  width: 100%;
  overflow: auto;
}

/* Top Bar */
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

/* Search Bar */
.search-bar {
  width: 350px;
  height: 16;
  margin-top: 5px;
}

.table-card {
  margin: 25px auto;
  max-width: 1000px;
  padding: 16px;
  background: #fff;
  border-radius: 8px;
}

/* Create Button */

.create-button-wrapper {
  display: flex;
  justify-content: flex-end;
  width: 70%;
  margin-bottom: 30px;
  margin-right: 150px;
}


/* Table Styles */
.full-width-table {
  width: 100%;
}

mat-header-cell, mat-cell {
  padding: 8px 12px;
  font-size: 13px;
  line-height: 1.4;
}

mat-header-cell {
  font-weight: 600;
  color: #333;
}

mat-row:hover {
  background-color: #f5f5f5;
}



/* Paginator */
mat-paginator {
  margin-top: 16px;
  display: flex;
  justify-content: flex-end;
}

.earnings-button {
  margin-right: 110px;
  margin-bottom: 10px;
}

.mat-sort-header-arrow {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.mat-header-cell:hover .mat-sort-header-arrow,
.mat-sort-header-sorted .mat-sort-header-arrow {
  opacity: 1;
}

.mat-elevation-z2 {
    font-weight: 600;
  font-size: 14px;
  color: #2c3e50;
  padding: 14px 16px;
  border-bottom: 1px solid #dcdcdc;
  background-color: #ebf3fc;
  border-radius: 8px;
  
}

table th {
  background-color: #94c6f7;
  border-radius: 8px;
  text-decoration: underline;
}