.review-container {
  max-width: 900px;
  margin: 30px auto;
  padding: 24px;
  background: #fff;
  border-radius: 10px;
}

.title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 24px;
  color: #333;
}

.review-card {
  border-radius: 10px;
  background: #ebf3fc;;
  padding: 16px;
  margin-bottom: 20px;
}

.review-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.review-name {
  font-weight: 600;
  font-size: 18px;
  color: #2c3e50;
}

.review-rating mat-icon {
  color: #fbc02d;
  font-size: 25px;
}

.review-text {
  margin: 12px 0;
  font-size: 14px;
  color: #444;
}

.review-footer {
  font-size: 12px;
  color: #888;
  text-align: right;
}

.no-review-text {
  text-align: center;
  color: #777;
  font-style: italic;
  margin: 30px 0;
}
