mat-card {
  margin: 25px auto;
  padding: 24px;
  max-width: 900px;
  background: #fff;
  border-radius: 12px;
}

.full-width-table {
  width: 100%;
}

table th {
  background-color: #94c6f7;
  border-radius: 8px;
  text-decoration: underline;
}