.earnings-card {
  margin: 25px auto;
  padding: 24px;
  max-width: 900px;
  background: #fff;
  border-radius: 12px;
}

.earnings-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.modern-table {
  width: 100%;
  border-collapse: collapse;
}

.mat-header-cell {
  font-weight: bold;
  color: #444;
  background: #f5f5f5;
}

.footer-total {
  font-weight: bold;
  color: #1976d2;
  text-align: right;
}
.mat-icon {
    margin-right: 590px;
}


table th {
  background-color: #94c6f7;
  border-radius: 8px;
  text-decoration: underline;
}