.checkout-container {
  padding: 28px;
  width: 100%;
  max-width: 1000px;
  font-family: 'Segoe UI', sans-serif;
  color: #2c3e50;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: auto; 
  overflow-x: hidden; 
  max-height: 90vh;    
}

/* Breadcrumb */
.breadcrumb {
  font-size: 13px;
  color: #666;
}

/* Course Summary */
.course-box h2 {
  margin: 0;
  font-size: 22px;
  font-weight: 700;
  color: #1a237e;
}

.subtitle {
  font-size: 14px;
  color: #546e7a;
  margin-top: 4px;
}

/* Grid Layout */
.content-grid {
  display: grid;
  grid-template-columns: 3fr 1fr; /* bigger form, smaller summary */
  gap: 32px;
  align-items: start;
}

/* Payment Form */
.payment-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.method-options {
  display: flex;
  gap: 20px;
  margin-bottom: 12px;
}

.row {
  display: flex;
  gap: 12px;
}

.full-width {
  width: 500px;
}

.half-width {
  width: 158.5px;
}

.pay-btn {
  font-weight: 600;
  background-color: #d32f2f !important;
  color: #fff !important;
  padding: 12px;
  border-radius: 6px;
  width: 500px;
}

/* Order Summary */
.order-summary {
  width: 450px;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  background: #f9f9f9;
  min-width: 220px;
 
}

.order-summary h3 {
  margin-top: 0;
  font-size: 18px;
  margin-bottom: 16px;
}

.order-summary p {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.order-summary .total {
  font-weight: bold;
  font-size: 16px;
  color: #d32f2f;
}

.cancel-btn {
  color: #888;

}
