USE [Online Course Management System]
GO
/****** Object:  StoredProcedure [dbo].[GetAssignments]    Script Date: 1/20/2026 4:45:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAssignments]
    @CourseID INT = NULL,
    @UserID INT = NULL,
    @Page INT = 1,
    @PageSize INT = 10,
    @SearchTerm NVARCHAR(100) = ''
AS
BEGIN
    SELECT 
        a.AssignmentID,
        a.CourseID,
        c.Title AS CourseTitle,
        a.Title,
        a.Description,
        a.DueDate,
        a.FileURL,
        a.IsActive,
        a.CreatedAt,
        a.ModifiedAt
    FROM Assignments a
    INNER JOIN Courses c ON a.CourseID = c.CourseID
    WHERE 
       (@CourseID IS NULL OR a.CourseID = @CourseID)
        AND (
            @SearchTerm = '' OR
            a.Title LIKE '%' + @SearchTerm + '%' OR
            c.Title LIKE '%' + @SearchTerm + '%' OR
            FORMAT(a.DueDate, 'yyyy-MM-dd') LIKE '%' + @SearchTerm + '%'
        )
    ORDER BY a.AssignmentID
    OFFSET (@Page - 1) * @PageSize ROWS
    FETCH NEXT @PageSize ROWS ONLY;

    SELECT COUNT(*) AS TotalCount
    FROM Assignments a
    INNER JOIN Courses c ON a.CourseID = c.CourseID
    WHERE 
        (@CourseID IS NULL OR a.CourseID = @CourseID)
        AND (
            @SearchTerm = '' OR
            a.Title LIKE '%' + @SearchTerm + '%' OR
            c.Title LIKE '%' + @SearchTerm + '%' OR
            FORMAT(a.DueDate, 'yyyy-MM-dd') LIKE '%' + @SearchTerm + '%'
        );
END
GO
