USE [Online Course Management System]
GO
/****** Object:  StoredProcedure [dbo].[GetUsersByRole]    Script Date: 1/20/2026 4:45:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetUsersByRole]
  @RoleName NVARCHAR(50)
AS
BEGIN
  SELECT 
    u.UserID,
    u.FirstName,
    u.LastName,
    r.RoleName
  FROM Users u
  JOIN Roles r ON u.RoleID = r.RoleID
  WHERE r.RoleName = @RoleName
  ORDER BY u.FirstName, u.LastName;
END
GO
