USE [Online Course Management System]
GO
/****** Object:  StoredProcedure [dbo].[EnrollStudent]    Script Date: 1/20/2026 4:45:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[EnrollStudent]
    @UserID INT,
    @CourseID INT,
    @CreatedBy VARCHAR(50)
AS
BEGIN
    IF EXISTS (
        SELECT 1 FROM Enrollments
        WHERE UserID = @UserID AND CourseID = @CourseID AND IsActive = 1
    )
    BEGIN
        RAISERROR('Student is already enrolled in this course.', 16, 1)
        RETURN
    END
    INSERT INTO Enrollments (
        UserID,
        CourseID,
        EnrollmentDate,
        Status,
        CreatedBy,
        CreatedAt,
        IsActive
    )
    VALUES (
        @UserID,
        @CourseID,
        GETDATE(),
        'Enrolled',
        @CreatedBy,
        GETDATE(),
        1
    )
END
GO
