USE [Online Course Management System]
GO
/****** Object:  StoredProcedure [dbo].[GetCoursesByInstructor]    Script Date: 1/20/2026 4:45:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetCoursesByInstructor]
     @InstructorID INT
     AS
     BEGIN
     SET NOCOUNT ON;
SELECT 
    c.CourseID, c.Title, c.description, c.StartDate, c.EndDate, c.Status, c.Price, c.Duration,
    CONCAT(u.FirstName, ' ', u.LastName) AS InstructorName
    FROM Courses c JOIN Users u
    ON u.UserID = c.UserID
    WHERE u.Role = 'instructor'
    AND u.UserID = @InstructorID;
END;
GO
