USE [Online Course Management System]
GO
/****** Object:  StoredProcedure [dbo].[StudentPaymentDetails]    Script Date: 1/20/2026 4:45:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[StudentPaymentDetails]
    @UserID INT
AS
BEGIN
     SET NOCOUNT ON;
     SELECT
     u.UserID, u.FirstName, u.LastName,
     p.PaymentID, p.Amount, p.PaymentDate, p.PaymentStatus
     FROM Users u JOIN Payments p ON u.UserID = p.UserID
     WHERE u.Role = 'Student'
     AND u.UserID = @UserID ;
END;
GO
