USE [Online Course Management System]
GO
/****** Object:  StoredProcedure [dbo].[InsertCategoryIfNotExists]    Script Date: 1/20/2026 4:45:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertCategoryIfNotExists]
    @Name VARCHAR(100),
    @Description TEXT = NULL,
    @CategoryID INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @ExistingID INT;

    SELECT @ExistingID = CategoryID FROM Category WHERE Name = @Name;

    IF @ExistingID IS NOT NULL
    BEGIN
        SET @CategoryID = @ExistingID;
    END
    ELSE
    BEGIN
        INSERT INTO Category (Name, Description)
        VALUES (@Name, @Description);

        SET @CategoryID = SCOPE_IDENTITY();
    END
END
GO
