USE [Online Course Management System]
GO
/****** Object:  StoredProcedure [dbo].[MarkMessagesAsRead]    Script Date: 1/20/2026 4:45:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[MarkMessagesAsRead]
    @SenderID INT,
    @ReceiverID INT
AS
BEGIN
    UPDATE Chats
    SET IsRead = 1
    WHERE SenderID = @SenderID AND ReceiverID = @ReceiverID AND IsRead = 0;
END
GO
