USE [Online Course Management System]
GO
/****** Object:  StoredProcedure [dbo].[SendGroupMessage]    Script Date: 1/20/2026 4:45:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SendGroupMessage]
    @GroupID INT,
    @SenderID INT,
    @Message NVARCHAR(MAX)
AS
BEGIN
    INSERT INTO GroupMessages (GroupID, SenderID, Message, SentAt)
    VALUES (@GroupID, @SenderID, @Message, GETDATE())
END
GO
