USE [Online Course Management System]
GO
/****** Object:  StoredProcedure [dbo].[GetAdminDashboardData]    Script Date: 1/20/2026 4:45:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAdminDashboardData]
AS
BEGIN
    SELECT COUNT(*) AS TotalStudents FROM Users WHERE RoleID = 3;
    SELECT COUNT(*) AS TotalCourses FROM Courses;
    SELECT COUNT(*) AS TotalInstructors FROM Users WHERE RoleID = 4;
    SELECT COUNT(*) AS TotalAssignments FROM Assignments;
    SELECT ISNULL(SUM(Amount), 0) AS TotalPayments FROM Payments;

    SELECT TOP 5 * FROM Enrollments ORDER BY EnrollmentDate DESC;
    SELECT TOP 5 * FROM Payments ORDER BY PaymentDate DESC;
    SELECT TOP 5 * FROM Assignments ORDER BY CreatedAt DESC;
END
GO
