USE [Online Course Management System]
GO
/****** Object:  StoredProcedure [dbo].[AuthenticateUser]    Script Date: 1/20/2026 4:45:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AuthenticateUser]
    @Email VARCHAR(100)
AS
BEGIN
    SELECT 
        u.UserID,
        u.FirstName,
        u.LastName,
        u.Email,
        u.Phone,
        u.Password,
        u.IsActive,
        u.RegisteredDate,
        r.RoleName
    FROM Users u
    JOIN Roles r ON u.RoleID = r.RoleID
    WHERE u.Email = @Email;
END;
GO
