USE [Online Course Management System]
GO
/****** Object:  StoredProcedure [dbo].[GradeSubmission]    Script Date: 1/20/2026 4:45:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[GradeSubmission]
    @SubmissionID INT,
    @Grade DECIMAL(5,2),
    @Feedback TEXT,
    @ModifiedBy VARCHAR(50)
AS
BEGIN
    UPDATE Submissions
    SET
        Grade = @Grade,
        Feedback = @Feedback,
        ModifiedBy = @ModifiedBy,
        ModifiedAt = GETDATE()
    WHERE SubmissionID = @SubmissionID;
END
GO
