USE [Online Course Management System]
GO
/****** Object:  StoredProcedure [dbo].[GetEnrollmentConfirmationDetails]    Script Date: 1/20/2026 4:45:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE PROCEDURE [dbo].[GetEnrollmentConfirmationDetails]
    @UserID INT,
    @CourseID INT
AS
BEGIN
    SELECT 
        u.Email AS StudentEmail,
        u.FirstName + ' ' + u.LastName AS StudentName,
        c.Title AS CourseTitle,
        c.StartDate,
        c.Duration,
        i.FirstName + ' ' + i.LastName AS InstructorName,
        p.PaymentID,
        p.Amount,
        p.PaymentDate
    FROM Users u
    JOIN Payments p ON p.UserID = u.UserID AND p.CourseID = @CourseID
    JOIN Courses c ON c.CourseID = p.CourseID
    JOIN Users i ON c.UserID = i.UserID 
    WHERE u.UserID = @UserID
      AND p.IsActive = 1
      AND c.IsActive = 1
    ORDER BY p.PaymentDate DESC;
END
GO
