USE [Online Course Management System]
GO
/****** Object:  StoredProcedure [dbo].[DeleteUnEnrolledStudents]    Script Date: 1/20/2026 4:45:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteUnEnrolledStudents]
AS
BEGIN 
UPDATE Users
    SET IsActive = 0
    WHERE Role = 'student'
    AND IsActive = 1
    AND UserID NOT IN (
      SELECT DISTINCT UserID FROM Enrollments
  );
END;
GO
