USE [Online Course Management System]
GO
/****** Object:  StoredProcedure [dbo].[GetStudentPaymentDetails]    Script Date: 1/20/2026 4:45:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetStudentPaymentDetails]
    @StudentID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        p.PaymentID,
        c.CourseID,
        c.Title AS CourseTitle,
        p.Amount,
        p.PaymentDate,
        p.PaymentStatus
    FROM Payments p
    JOIN Courses c ON p.CourseID = c.CourseID
    JOIN Users u ON p.UserID = u.UserID
    WHERE p.UserID = @StudentID
      AND u.Role = 'student'
      AND p.IsActive = 1
    ORDER BY p.PaymentDate DESC;
END;
GO
