USE [Online Course Management System]
GO
/****** Object:  StoredProcedure [dbo].[GetStudents]    Script Date: 1/20/2026 4:45:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetStudents]
    @Page INT = 1,
    @PageSize INT = 5,
    @SearchTerm NVARCHAR(100) = ''
AS
BEGIN
    DECLARE @Offset INT = (@Page - 1) * @PageSize;

    SELECT
        u.UserID,
        CONCAT(u.FirstName, ' ', u.LastName) AS StudentName,
        u.Email,
        u.Phone,
        u.RegisteredDate,
        ISNULL((
            SELECT STRING_AGG(c.Title, ', ')
            FROM Enrollments e
            JOIN Courses c ON e.CourseID = c.CourseID
            WHERE e.UserID = u.UserID
        ), 'Not Enrolled') AS EnrolledCourses
    FROM Users u
    LEFT JOIN Roles r ON u.RoleID = r.RoleID
    WHERE r.RoleID = 3
      AND u.IsActive = 1
      AND (
          @SearchTerm = '' OR
          CONCAT(u.FirstName, ' ', u.LastName) LIKE '%' + @SearchTerm + '%' OR
           u.Email LIKE '%' + @SearchTerm + '%' OR 
          u.Phone LIKE '%' + @SearchTerm + '%' OR
          CONVERT(NVARCHAR, u.RegisteredDate, 120) LIKE '%' + @SearchTerm + '%' OR
          EXISTS (
              SELECT 1
              FROM Enrollments e
              JOIN Courses c ON e.CourseID = c.CourseID
              WHERE e.UserID = u.UserID AND c.Title LIKE '%' + @SearchTerm + '%'
          )
      )
    ORDER BY u.UserID
    OFFSET @Offset ROWS
    FETCH NEXT @PageSize ROWS ONLY;

    SELECT COUNT(*) AS TotalCount
    FROM Users u
    WHERE u.RoleID = 3
      AND u.IsActive = 1
      AND (
          @SearchTerm = '' OR
          CONCAT(u.FirstName, ' ', u.LastName) LIKE '%' + @SearchTerm + '%' OR
           u.Email LIKE '%' + @SearchTerm + '%' OR 
          u.Phone LIKE '%' + @SearchTerm + '%' OR
          CONVERT(NVARCHAR, u.RegisteredDate, 120) LIKE '%' + @SearchTerm + '%' OR
          EXISTS (
              SELECT 1
              FROM Enrollments e
              JOIN Courses c ON e.CourseID = c.CourseID
              WHERE e.UserID = u.UserID AND c.Title LIKE '%' + @SearchTerm + '%'
          )
      );
END
GO
