USE [Online Course Management System]
GO
/****** Object:  StoredProcedure [dbo].[ToggleUserStatus]    Script Date: 1/20/2026 4:45:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ToggleUserStatus]
    @UserID INT
AS
BEGIN
    UPDATE Users
    SET 
        IsActive = CASE WHEN IsActive = 1 THEN 0 ELSE 1 END,
        Status = CASE WHEN IsActive = 1 THEN 'Inactive' ELSE 'Active' END,
        ModifiedAt = GETDATE()
    WHERE UserID = @UserID;
END
GO
