USE [Online Course Management System]
GO
/****** Object:  StoredProcedure [dbo].[MakePaymentAndEnroll]    Script Date: 1/20/2026 4:45:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MakePaymentAndEnroll]
    @UserID INT,
    @CourseID INT,
    @Amount DECIMAL(10,2),
    @PaymentStatus VARCHAR(20),
    @CreatedBy VARCHAR(50)
AS
BEGIN
    BEGIN TRANSACTION;
    BEGIN TRY

    IF EXISTS (
            SELECT 1 FROM Enrollments 
            WHERE UserID = @UserID AND CourseID = @CourseID AND IsActive = 1
        )
        BEGIN
            RAISERROR('You are already enrolled in this course.', 16, 1);
            ROLLBACK;
            RETURN;
        END

        INSERT INTO Payments (
            UserID, CourseID, Amount, PaymentStatus, CreatedBy, CreatedAt, IsActive
        )
        VALUES (
            @UserID, @CourseID, @Amount, @PaymentStatus, @CreatedBy, GETDATE(), 1
        );

        INSERT INTO Enrollments (
            UserID, CourseID, Status, CreatedBy, CreatedAt, IsActive
        )
        VALUES (
            @UserID, @CourseID, 'Enrolled', @CreatedBy, GETDATE(), 1
        );

        COMMIT;
    END TRY
    BEGIN CATCH
        ROLLBACK;
        THROW;
    END CATCH
END
GO
