USE [Online Course Management System]
GO
/****** Object:  StoredProcedure [dbo].[GetEnrolledStudentsByCourseID]    Script Date: 1/20/2026 4:45:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetEnrolledStudentsByCourseID]
    @CourseID INT
AS
BEGIN
    SELECT 
        e.EnrollmentID,
        u.UserID,
        u.FirstName + ' ' + u.LastName AS StudentName,
        u.Email,
        u.Phone,
        e.EnrollmentDate,
        e.Status
    FROM Enrollments e
    INNER JOIN Users u ON e.UserID = u.UserID
    WHERE e.CourseID = @CourseID AND e.IsActive = 1
    ORDER BY e.EnrollmentDate DESC
END
GO
