USE [Online Course Management System]
GO
/****** Object:  Table [dbo].[EmailOtps]    Script Date: 1/20/2026 4:45:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmailOtps](
	[OtpID] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[OTP] [varchar](10) NOT NULL,
	[Expiry] [datetime] NOT NULL,
	[IsUsed] [bit] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[OtpID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EmailOtps] ADD  DEFAULT ((0)) FOR [IsUsed]
GO
ALTER TABLE [dbo].[EmailOtps] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
