USE [Online Course Management System]
GO
/****** Object:  StoredProcedure [dbo].[GetCoursesWithFilters]    Script Date: 1/20/2026 4:45:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetCoursesWithFilters]
    @Search NVARCHAR(200) = NULL,
    @Page INT = 1,
    @PageSize INT = 10
AS
BEGIN
DECLARE @Offset INT = (@Page - 1) * @PageSize;

    SELECT 
        c.CourseID,
        c.Title,
        u.FirstName + ' ' + u.LastName AS InstructorName,
        c.Description,
        c.Duration,
        c.Price,
        cat.Name AS CategoryName,
        c.UserID,
        c.Status,

   (SELECT
   COUNT(*) FROM Enrollments e WHERE e.CourseID = c.CourseID) AS EnrolledCount

    FROM Courses c
    INNER JOIN Users u ON c.UserID = u.UserID
    LEFT JOIN Category cat ON c.CategoryID = cat.CategoryID
    WHERE 
         @Search IS NULL OR
        (
            c.Title LIKE '%' + @Search + '%' OR

            cat.Name LIKE '%' + @Search + '%' OR
            (u.FirstName + ' ' + u.LastName) LIKE '%' + @Search + '%' OR
             c.Status LIKE '%' + @Search + '%' OR
             CAST(c.Price AS NVARCHAR) LIKE '%' + @Search + '%'
        )
    ORDER BY c.CourseID
    OFFSET @Offset ROWS
    FETCH NEXT @PageSize ROWS ONLY;

    SELECT COUNT(*) AS TotalCount
    FROM Courses c
    INNER JOIN Users u ON c.UserID = u.UserID
    LEFT JOIN Category cat ON c.CategoryID = cat.CategoryID
    WHERE 
        @Search IS NULL OR
        (
            c.Title LIKE '%' + @Search + '%' OR

            cat.Name LIKE '%' + @Search + '%' OR
            (u.FirstName + ' ' + u.LastName) LIKE '%' + @Search + '%' OR
            c.Status LIKE '%' + @Search + '%' OR
            CAST(c.Price AS NVARCHAR) LIKE '%' + @Search + '%'
        );
END
GO
