USE [Online Course Management System]
GO
/****** Object:  StoredProcedure [dbo].[AddPaymentWithDiscount]    Script Date: 1/20/2026 4:45:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddPaymentWithDiscount]
    @StudentID INT,
    @CourseID INT,
    @Amount DECIMAL(10, 2),
    @PaymentDate DATETIME,
    @PaymentStatus  VARCHAR
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @DiscountedAmount DECIMAL(10, 2);
    SET @DiscountedAmount = 
        CASE 
            WHEN @Amount >= 1000 THEN @Amount * 0.90
            WHEN @Amount >= 500 THEN @Amount * 0.95 
            ELSE @Amount
      END;
    INSERT INTO Payments (UserID, CourseID, Amount, PaymentDate, PaymentStatus )
    VALUES (@StudentID, @CourseID, @DiscountedAmount, @PaymentDate, @PaymentStatus);
    SELECT TOP 1 * FROM Payments
    WHERE UserID = @StudentID AND CourseID = @CourseID
    ORDER BY PaymentID DESC;
END;
GO
