USE [Online Course Management System]
GO
/****** Object:  StoredProcedure [dbo].[GetGroupUnreadMessageCount]    Script Date: 1/20/2026 4:45:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetGroupUnreadMessageCount]
    @UserID INT
AS
BEGIN
    SELECT COUNT(*) AS Count
    FROM GroupMessages gm
    INNER JOIN GroupMembers cp ON gm.GroupID = cp.GroupID
    WHERE cp.UserID = @UserID
      AND gm.SenderID <> @UserID
      AND NOT EXISTS (
          SELECT 1 FROM GroupMessageReads gr
          WHERE gr.MessageID = gm.MessageID AND gr.UserID = @UserID
      )
END
GO
