USE [Online Course Management System]
GO
/****** Object:  StoredProcedure [dbo].[AddUser]    Script Date: 1/20/2026 4:45:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddUser]
    @FirstName VARCHAR(50),
    @LastName VARCHAR(50),
    @Password VARCHAR(255),
    @Email VARCHAR(100),
    @Phone VARCHAR(20),
    @RoleID INT,
    @CreatedBy VARCHAR(50)
AS
BEGIN
    DECLARE @isActive BIT;
    DECLARE @status VARCHAR(20);

    IF @RoleID = 4 
    BEGIN
        SET @isActive = 0;
        SET @status = 'Pending';
    END
    ELSE
    BEGIN
        SET @isActive = 1;
        SET @status = 'Active';
    END

    INSERT INTO Users (
        FirstName, LastName, Password, Email, Phone,
        RoleID, RegisteredDate, Status,
        CreatedBy, CreatedAt, IsActive
    )
    VALUES (
        @FirstName, @LastName, @Password, @Email, @Phone,
        @RoleID, GETDATE(), @status,
        @CreatedBy, GETDATE(), @isActive
    );
END;
GO
