USE [Online Course Management System]
GO
/****** Object:  View [dbo].[CourseAndPayments]    Script Date: 1/20/2026 4:45:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[CourseAndPayments]
AS
   SELECT
     u.UserID, u.FirstName, u.LastName, 
     c.Title AS CourseName, c.Description, c.Price,
     p.Amount, p.PaymentDate, p.PaymentStatus
     FROM Users u 
     JOIN Enrollments e ON u.UserID = e.UserID
     JOIN Courses c ON e.CourseID = c.CourseID
     LEFT JOIN Payments p ON p.UserID = u.UserID AND p.CourseID = c.CourseID
     WHERE u.Role = 'Student';
GO
