USE [Online Course Management System]
GO
/****** Object:  StoredProcedure [dbo].[GetAllCoursesBasic]    Script Date: 1/20/2026 4:45:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllCoursesBasic]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        CourseID, 
        Title 
    FROM Courses
    ORDER BY Title;
END
GO
