USE [Online Course Management System]
GO
/****** Object:  StoredProcedure [dbo].[UpdateCourseDescription]    Script Date: 1/20/2026 4:45:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateCourseDescription]
    @CourseID INT,
    @NewDescription TEXT,
    @ModifiedBy VARCHAR(50)
AS
BEGIN
     UPDATE Courses
     SET
      Description = @NewDescription,
      ModifiedBy = @ModifiedBy,
      ModifiedAt = GETDATE()
      WHERE CourseID = @CourseID
      AND IsActive = 1;
END;
GO
