USE [Online Course Management System]
GO
/****** Object:  View [dbo].[PaymentDetails]    Script Date: 1/20/2026 4:45:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[PaymentDetails]
AS
  SELECT
    u.UserID, u.FirstName, u.LastName, u.Email,
    c.CourseID, c.Title AS CourseTitle,
    p.PaymentID, p.Amount, p.PaymentDate, p.PaymentStatus
    FROM Payments p
    JOIN Users u ON u.UserID = p.UserID
    JOIN Roles r ON u.RoleID = r.RoleID
    JOIN Courses c ON c.CourseID = p.CourseID
    WHERE r.RoleName = 'Student' 
GO
