USE [Online Course Management System]
GO
/****** Object:  StoredProcedure [dbo].[GetUsersWithFilter]    Script Date: 1/20/2026 4:45:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetUsersWithFilter]
    @SearchTerm NVARCHAR(100) = NULL,
    @RoleName NVARCHAR(50) = NULL,
    @Page INT = 1,
    @PageSize INT = 10
AS
BEGIN
    SET NOCOUNT ON;

    SELECT COUNT(*) 
    FROM Users u
    JOIN Roles r ON u.RoleID = r.RoleID
    WHERE (@SearchTerm IS NULL OR u.FirstName LIKE '%' + @SearchTerm + '%' OR u.LastName LIKE '%' + @SearchTerm + '%' OR u.Email LIKE '%' + @SearchTerm + '%' OR u.Email LIKE '%' + @SearchTerm + '%')
      AND (@RoleName IS NULL OR r.RoleName = @RoleName);

    SELECT 
        u.UserID,
        u.FirstName,
        u.LastName,
        u.Email,
        u.Phone,
        u.RegisteredDate,
        u.Status,
        u.IsActive,
        r.RoleName
    FROM Users u
    JOIN Roles r ON u.RoleID = r.RoleID
    WHERE (@SearchTerm IS NULL OR u.FirstName LIKE '%' + @SearchTerm + '%' OR u.LastName LIKE '%' + @SearchTerm + '%' OR u.Email LIKE '%' + @SearchTerm + '%' OR u.Email LIKE '%' + @SearchTerm + '%')
      AND (@RoleName IS NULL OR r.RoleName = @RoleName)
    ORDER BY u.RegisteredDate DESC
    OFFSET (@Page - 1) * @PageSize ROWS
    FETCH NEXT @PageSize ROWS ONLY;
END
GO
