USE [Online Course Management System]
GO
/****** Object:  StoredProcedure [dbo].[GetGroupChatMessages]    Script Date: 1/20/2026 4:45:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetGroupChatMessages]
    @GroupID INT
AS
BEGIN
    SELECT 
        gm.MessageID,
        gm.GroupID,
        gm.SenderID,
        u.FirstName + ' ' + u.LastName AS SenderName,
        gm.Message,
        gm.SentAt
    FROM GroupMessages gm
    INNER JOIN Users u ON gm.SenderID = u.UserID
    WHERE gm.GroupID = @GroupID
    ORDER BY gm.SentAt
END
GO
