USE [Online Course Management System]
GO
/****** Object:  StoredProcedure [dbo].[GetInstructor]    Script Date: 1/20/2026 4:45:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetInstructor]
    @Page INT = 1,
    @PageSize INT = 5,
    @SearchTerm NVARCHAR(100) = ''
AS
BEGIN
    DECLARE @Offset INT = (@Page - 1) * @PageSize;

    SELECT
        u.UserID,
        CONCAT(u.FirstName, ' ', u.LastName) AS InstructorName,
        u.Email,
        u.Phone,
        u.RegisteredDate,
        CASE 
            WHEN u.IsActive = 1 THEN 'Available'
            ELSE 'Inactive'
        END AS Status
    FROM Users u
    LEFT JOIN Roles r ON u.RoleID = r.RoleID
    WHERE r.RoleID = 4
      AND (
          @SearchTerm = '' OR
          CONCAT(u.FirstName, ' ', u.LastName) LIKE '%' + @SearchTerm + '%' OR
          u.Email LIKE '%' + @SearchTerm + '%' OR
          u.Phone LIKE '%' + @SearchTerm + '%' OR
          CONVERT(NVARCHAR, u.RegisteredDate, 120) LIKE '%' + @SearchTerm + '%' OR
           (LOWER(@SearchTerm) LIKE '%available%' AND u.IsActive = 1) OR
          (LOWER(@SearchTerm) LIKE '%inactive%' AND u.IsActive = 0)
      )
    ORDER BY u.UserID
    OFFSET @Offset ROWS
    FETCH NEXT @PageSize ROWS ONLY;

    SELECT COUNT(UserID) AS TotalCount 
    FROM Users
    WHERE RoleID = 4
      AND (
          @SearchTerm = '' OR
          CONCAT(FirstName, ' ', LastName) LIKE '%' + @SearchTerm + '%' OR
          Email LIKE '%' + @SearchTerm + '%' OR 
          Phone LIKE '%' + @SearchTerm + '%' OR
          CONVERT(NVARCHAR, RegisteredDate, 120) LIKE '%' + @SearchTerm + '%' OR
           (LOWER(@SearchTerm) LIKE '%available%' AND IsActive = 1) OR
          (LOWER(@SearchTerm) LIKE '%inactive%' AND IsActive = 0)
      );
END
GO
