USE [Online Course Management System]
GO
/****** Object:  View [dbo].[vw_StudentCoursesPayments]    Script Date: 1/20/2026 4:45:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_StudentCoursesPayments] AS
SELECT 
    u.UserID,
    u.FirstName,
    u.LastName,
    u.Email,
    c.CourseID,
    c.Title AS CourseTitle,
    c.Price,
    p.PaymentID,
    p.Amount AS PaidAmount,
    p.PaymentDate,
    p.PaymentStatus
FROM Users u
JOIN Enrollments e ON u.UserID = e.UserID
JOIN Courses c ON e.CourseID = c.CourseID
LEFT JOIN Payments p 
    ON p.UserID = u.UserID 
    AND p.CourseID = c.CourseID 
    AND p.IsActive = 1
WHERE u.Role = 'student'
  AND u.IsActive = 1
  AND e.IsActive = 1
  AND c.IsActive = 1;
GO
