USE [Online Course Management System]
GO
/****** Object:  StoredProcedure [dbo].[GetUnreadMessageCount]    Script Date: 1/20/2026 4:45:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetUnreadMessageCount]
    @UserID INT
AS
BEGIN
    SELECT COUNT(*) AS Count
    FROM Chats
    WHERE ReceiverID = @UserID AND IsRead = 0
END
GO
