USE [Online Course Management System]
GO
/****** Object:  StoredProcedure [dbo].[AddOrUpdateCourseReview]    Script Date: 1/20/2026 4:45:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddOrUpdateCourseReview]
    @UserID INT,
    @CourseID INT,
    @Rating INT,
    @ReviewText NVARCHAR(1000),
    @CreatedBy VARCHAR(50)
AS
BEGIN
    IF EXISTS (SELECT 1 FROM CourseReviews WHERE UserID = @UserID AND CourseID = @CourseID)
    BEGIN
        UPDATE CourseReviews
        SET 
            Rating = @Rating,
            ReviewText = @ReviewText,
            ModifiedBy = @CreatedBy,
            ModifiedAt = GETDATE()
        WHERE UserID = @UserID AND CourseID = @CourseID
    END
    ELSE
    BEGIN
        INSERT INTO CourseReviews (UserID, CourseID, Rating, ReviewText, CreatedBy)
        VALUES (@UserID, @CourseID, @Rating, @ReviewText, @CreatedBy)
    END
END
GO
