USE [Online Course Management System]
GO
/****** Object:  StoredProcedure [dbo].[UpdateUserRole]    Script Date: 1/20/2026 4:45:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[UpdateUserRole]
  @UserID INT,
  @NewRoleID INT,
  @ModifiedBy VARCHAR(50)
AS
BEGIN
  UPDATE Users
  SET RoleID = @NewRoleID,
      ModifiedBy = @ModifiedBy,
      ModifiedAt = GETDATE()
  WHERE UserID = @UserID
END
GO
