USE [Online Course Management System]
GO
/****** Object:  View [dbo].[StudentProgress]    Script Date: 1/20/2026 4:45:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[StudentProgress] 
AS
  SELECT
     u.UserID, u.FirstName, u.LastName, u.Email, u.Status,
     c.CourseID, c.Title AS CourseTitle,
     COUNT(DISTINCT a.AssignmentID) AS TotalAssigned,
     COUNT(DISTINCT s.SubmissionID) AS TotalSubmitted
     FROM Users u
     JOIN Enrollments e ON u.UserID = e.UserID
     JOIN Courses c ON e.CourseID = c.CourseID
     JOIN Assignments a ON c.CourseID = a.CourseID
      JOIN Roles r ON u.RoleID = r.RoleID
     LEFT JOIN Submissions s ON s.UserID = u.UserID  AND s.AssignmentID = a.AssignmentID
     WHERE r.RoleName = 'student'
     GROUP BY u.UserID, u.FirstName, u.LastName, u.Email, u.Status, c.CourseID, c.Title;
GO
