USE [Online Course Management System]
GO
/****** Object:  StoredProcedure [dbo].[GetAllRoles]    Script Date: 1/20/2026 4:45:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetAllRoles]
AS
BEGIN
    SELECT RoleID, RoleName FROM Roles ORDER BY RoleName
END
GO
