USE [Online Course Management System]
GO
/****** Object:  StoredProcedure [dbo].[GetStudentNotSubmittedAssignment]    Script Date: 1/20/2026 4:45:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetStudentNotSubmittedAssignment]
AS
BEGIN
    SET NOCOUNT ON;
SELECT 
    u.UserID, u.FirstName, u.LastName, c.CourseID, c.Title AS CourseTitle,
    a.AssignmentID, a.Title AS AssignmentTitle
    FROM Enrollments e
    JOIN Users u ON e.UserID = u.UserID
    JOIN Courses c ON e.CourseID = c.CourseID
    JOIN Assignments a ON c.CourseID = a.CourseID
    LEFT JOIN Submissions s 
    ON s.UserID = u.UserID 
    AND s.AssignmentID = a.AssignmentID 
    AND s.IsActive = 1
WHERE u.Role = 'student'
  AND s.SubmissionID IS NULL
  AND e.IsActive = 1
  AND c.IsActive = 1
  AND a.IsActive = 1;
END;
GO
