USE [Online Course Management System]
GO
/****** Object:  Table [dbo].[GroupMessageReads]    Script Date: 1/20/2026 4:45:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupMessageReads](
	[MessageID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[ReadAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MessageID] ASC,
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GroupMessageReads] ADD  DEFAULT (getdate()) FOR [ReadAt]
GO
ALTER TABLE [dbo].[GroupMessageReads]  WITH CHECK ADD FOREIGN KEY([MessageID])
REFERENCES [dbo].[GroupMessages] ([MessageID])
GO
ALTER TABLE [dbo].[GroupMessageReads]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
