USE [Online Course Management System]
GO
/****** Object:  StoredProcedure [dbo].[ToggleAssignmentStatus]    Script Date: 1/20/2026 4:45:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ToggleAssignmentStatus]
    @AssignmentID INT,
    @IsActive BIT
AS
BEGIN
    UPDATE Assignments
    SET 
        IsActive = @IsActive,
        ModifiedAt = GETDATE()
    WHERE AssignmentID = @AssignmentID;
END
GO
