USE [Online Course Management System]
GO
/****** Object:  StoredProcedure [dbo].[GetPendingInstructors]    Script Date: 1/20/2026 4:45:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetPendingInstructors]
AS
BEGIN
    SELECT u.UserID, u.FirstName, u.LastName, u.Email, u.Phone, u.RegisteredDate, r.RoleName, u.Status
    FROM Users u
    INNER JOIN Roles r ON u.RoleID = r.RoleID
    WHERE r.RoleName = 'Instructor' AND u.Status = 'Pending';
END
GO
