USE [Online Course Management System]
GO
/****** Object:  View [dbo].[GetUser]    Script Date: 1/20/2026 4:45:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[GetUser]
AS
  SELECT
  u.UserID,
  CONCAT(u.FirstName, ' ',u.LastName)AS Name,
  r.RoleName,
  u.Phone,
  u.Email,
  u.Password
  FROM Users u 
  JOIN Roles r ON u.RoleID = r.RoleID
  WHERE u.IsActive = 1;
GO
