USE [Online Course Management System]
GO
/****** Object:  StoredProcedure [dbo].[StudentsEnrollment]    Script Date: 1/20/2026 4:45:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[StudentsEnrollment]
    @UserID INT,
    @CourseID INT,
    @CreatedBy VARCHAR(50)
AS
BEGIN
   INSERT INTO Enrollments 
   (UserID, CourseID, EnrollmentDate, Status, CreatedBy, CreatedAt, ModifiedBy, ModifiedAt, IsActive)
   VALUES
   (@UserID, @CourseID, GETDATE(), 'active', @CreatedBy, GETDATE(), @CreatedBy, GETDATE(), 1);
END;
GO
