USE [Online Course Management System]
GO
/****** Object:  StoredProcedure [dbo].[SubmitAssignment]    Script Date: 1/20/2026 4:45:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SubmitAssignment]
    @UserID INT,
    @CourseID INT,
    @AssignmentID INT,
    @FileURL VARCHAR(255),
    @CreatedBy VARCHAR(50)
AS
BEGIN
    INSERT INTO Submissions (
        UserID, CourseID, AssignmentID, FileURL, CreatedBy
    )
    VALUES (
        @UserID, @CourseID, @AssignmentID, @FileURL, @CreatedBy
    )
END
GO
