USE [Online Course Management System]
GO
/****** Object:  StoredProcedure [dbo].[GetPaymentsByCourseID]    Script Date: 1/20/2026 4:45:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetPaymentsByCourseID]
    @CourseID INT
AS
BEGIN
    SELECT 
        p.PaymentID,
        p.UserID,
        u.FirstName + ' ' + u.LastName AS StudentName,
        p.Amount,
        p.PaymentDate,
        p.PaymentStatus
    FROM Payments p
    INNER JOIN Users u ON p.UserID = u.UserID
    WHERE p.CourseID = @CourseID AND p.IsActive = 1

    SELECT 
        CourseID,
        SUM(Amount) AS TotalEarnings
    FROM Payments
    WHERE CourseID = @CourseID AND IsActive = 1
    GROUP BY CourseID
END
GO
