USE [Online Course Management System]
GO
/****** Object:  StoredProcedure [dbo].[ApproveInstructor]    Script Date: 1/20/2026 4:45:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ApproveInstructor]
    @UserID INT
AS
BEGIN
    UPDATE Users
    SET Status = 'Active', IsActive = 1
    WHERE UserID = @UserID AND Status = 'Pending';
END
GO
