USE [Online Course Management System]
GO
/****** Object:  StoredProcedure [dbo].[GetChatUsers]    Script Date: 1/20/2026 4:45:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetChatUsers]
    @UserID INT
AS
BEGIN
    -- Individual Users
    SELECT DISTINCT 
        u.UserID,
        u.FirstName,
        u.LastName,
        r.RoleName,
        MAX(c.SentAt) AS LastMessageTime,
        (
            SELECT COUNT(*) 
            FROM Chats ch 
            WHERE ch.SenderID = u.UserID 
              AND ch.ReceiverID = @UserID 
              AND ch.IsRead = 0
        ) AS UnreadCount,
        CAST(0 AS BIT) AS IsGroup,
        NULL AS GroupID,
        NULL AS GroupName
    FROM Chats c
    JOIN Users u 
        ON (u.UserID = c.SenderID AND c.ReceiverID = @UserID)
        OR (u.UserID = c.ReceiverID AND c.SenderID = @UserID)
    LEFT JOIN Roles r ON u.RoleID = r.RoleID
    WHERE u.UserID <> @UserID
    GROUP BY u.UserID, u.FirstName, u.LastName, r.RoleName

    UNION

    -- Group Chats where current user is a participant
    SELECT 
        0 AS UserID,
        NULL AS FirstName,
        NULL AS LastName,
        'Group' AS RoleName,
        MAX(gm.SentAt) AS LastMessageTime,
       (
  SELECT COUNT(*)
  FROM GroupMessages gm
  LEFT JOIN GroupMessageReads gmr ON gm.MessageID = gmr.MessageID AND gmr.UserID = @UserID
  WHERE gm.GroupID = g.GroupID 
    AND gm.SenderID <> @UserID 
    AND gmr.UserID IS NULL
   ) AS UnreadCount,
        CAST(1 AS BIT) AS IsGroup,
        g.GroupID,
        g.GroupName
    FROM ChatGroups g
    INNER JOIN GroupMembers gp ON gp.GroupID = g.GroupID
    LEFT JOIN GroupMessages gm ON gm.GroupID = g.GroupID
    WHERE gp.UserID = @UserID
    GROUP BY g.GroupID, g.GroupName

    ORDER BY LastMessageTime DESC
END
GO
