USE [Online Course Management System]
GO
/****** Object:  StoredProcedure [dbo].[AddSupportTicket]    Script Date: 1/20/2026 4:45:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddSupportTicket]
    @UserID INT,
    @Subject VARCHAR(200),
    @Message TEXT
AS
BEGIN
    INSERT INTO SupportTickets (UserID, Subject, Message)
    VALUES (@UserID, @Subject, @Message)
END
GO
