USE [Online Course Management System]
GO
/****** Object:  StoredProcedure [dbo].[SaveAssignment]    Script Date: 1/20/2026 4:45:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SaveAssignment]
    @AssignmentID INT = 0,
    @CourseID INT,
    @Title VARCHAR(100),
    @Description TEXT,
    @DueDate DATE,
    @FileURL VARCHAR(255),
    @CreatedBy VARCHAR(50),
    @ModifiedBy VARCHAR(50)
AS
BEGIN
    IF @AssignmentID = 0
    BEGIN
        INSERT INTO Assignments (
            CourseID, Title, Description, DueDate, FileURL,
            CreatedBy, CreatedAt, IsActive
        )
        VALUES (
            @CourseID, @Title, @Description, @DueDate, @FileURL,
            @CreatedBy, GETDATE(), 1
        )
    END
    ELSE
    BEGIN
        UPDATE Assignments
        SET 
            CourseID = @CourseID,
            Title = @Title,
            Description = @Description,
            DueDate = @DueDate,
            FileURL = @FileURL,
            ModifiedBy = @ModifiedBy,
            ModifiedAt = GETDATE()
        WHERE AssignmentID = @AssignmentID
    END
END
GO
