USE [Online Course Management System]
GO
/****** Object:  StoredProcedure [dbo].[GetTop5Courses]    Script Date: 1/20/2026 4:45:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetTop5Courses]
AS
BEGIN 
    SET NOCOUNT ON;
SELECT TOP 5
    c.CourseID, c.Title AS CourseTitle,
    COUNT(e.EnrollmentID) AS TotalEnrollments
FROM Enrollments e
JOIN Courses c ON e.CourseID = c.CourseID
JOIN Users u ON e.UserID = u.UserID
WHERE e.IsActive = 1
  AND c.IsActive = 1
  AND u.Role = 'student'
GROUP BY c.CourseID, c.Title
ORDER BY TotalEnrollments DESC;
END;
GO
