USE [Online Course Management System]
GO
/****** Object:  StoredProcedure [dbo].[GetCoursesNotEnrolledByUser]    Script Date: 1/20/2026 4:45:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetCoursesNotEnrolledByUser]
    @UserID INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
       c.CourseID, c.Title, c.Description, c.Price, c.Duration
       FROM Courses c
    LEFT JOIN Enrollments e ON c.CourseID = e.CourseID 
        AND e.UserID = @UserID 
        AND e.IsActive = 1
    WHERE e.EnrollmentID IS NULL
      AND c.IsActive = 1;
END;
GO
