USE [Online Course Management System]
GO
/****** Object:  StoredProcedure [dbo].[GetPaymentsByUserID]    Script Date: 1/20/2026 4:45:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetPaymentsByUserID]
   @UserID INT
AS 
BEGIN
SELECT 
  p.PaymentID,
  c.Title AS CourseName,
  p.Amount,
  p.PaymentDate,
  p.PaymentStatus
FROM Payments p
JOIN Courses c ON p.CourseID = c.CourseID
WHERE p.UserID = @UserID
ORDER BY p.PaymentDate DESC;
END
GO
