USE [Online Course Management System]
GO
/****** Object:  StoredProcedure [dbo].[GetInstructorEarnings]    Script Date: 1/20/2026 4:45:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetInstructorEarnings]
  @InstructorID INT
AS
BEGIN
  SELECT 
    c.Title AS CourseName,
    COUNT(p.PaymentID) AS TotalEnrollments,
    SUM(p.Amount) AS TotalEarnings
  FROM Payments p
  JOIN Courses c ON p.CourseID = c.CourseID
  WHERE c.UserID = @InstructorID
  GROUP BY c.Title
  ORDER BY c.Title;
END
GO
