USE [Online Course Management System]
GO
/****** Object:  UserDefinedTableType [dbo].[IntList]    Script Date: 1/20/2026 4:45:53 PM ******/
CREATE TYPE [dbo].[IntList] AS TABLE(
	[UserID] [int] NULL
)
GO
