USE [Online Course Management System]
GO
/****** Object:  StoredProcedure [dbo].[ChangeUserPassword]    Script Date: 1/20/2026 4:45:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ChangeUserPassword]
    @UserID INT,
    @CurrentPassword NVARCHAR(100),
    @NewPassword NVARCHAR(100)
AS
BEGIN
    DECLARE @ExistingPassword NVARCHAR(100);

    SELECT @ExistingPassword = Password
    FROM Users
    WHERE UserID = @UserID;

    IF @ExistingPassword IS NULL
    BEGIN
        RAISERROR('User not found.', 16, 1);
        RETURN;
    END

    IF @ExistingPassword <> @CurrentPassword
    BEGIN
        RAISERROR('Current password is incorrect.', 16, 1);
        RETURN;
    END

    UPDATE Users
    SET Password = @NewPassword
    WHERE UserID = @UserID;
END
GO
