USE [Online Course Management System]
GO
/****** Object:  StoredProcedure [dbo].[GetStudentSubmissions]    Script Date: 1/20/2026 4:45:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetStudentSubmissions]
    @UserID INT
AS
BEGIN
    SELECT
        s.SubmissionID,
        s.AssignmentID,
        s.CourseID,
        a.Title AS AssignmentTitle,
        c.Title AS CourseTitle,
        s.FileURL,
        s.SubmissionOn,
        s.Grade,
        s.Feedback
    FROM Submissions s
    INNER JOIN Assignments a ON s.AssignmentID = a.AssignmentID
    INNER JOIN Courses c ON s.CourseID = c.CourseID
    WHERE s.UserID = @UserID AND s.IsActive = 1
    ORDER BY s.SubmissionOn DESC
END
GO
