USE [Online Course Management System]
GO
/****** Object:  StoredProcedure [dbo].[CreateGroupChat]    Script Date: 1/20/2026 4:45:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CreateGroupChat]
    @GroupName NVARCHAR(100),
    @CreatedBy INT,
    @ParticipantIDs dbo.IntList READONLY 
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @GroupID INT;
    DECLARE @CreatorName NVARCHAR(200);

    SELECT @CreatorName = FirstName + ' ' + LastName FROM Users WHERE UserID = @CreatedBy;

    INSERT INTO ChatGroups (GroupName, CreatedBy, CreatedAt)
    VALUES (@GroupName, @CreatedBy, GETDATE());

    SET @GroupID = SCOPE_IDENTITY();

    INSERT INTO GroupMembers (GroupID, UserID)
    SELECT @GroupID, UserID FROM @ParticipantIDs;

    INSERT INTO GroupMessages (GroupID, SenderID, Message)
    VALUES (@GroupID, @CreatedBy, 'Group "' + @GroupName + '" has been created by "' + @CreatorName + '".');
    
    SELECT @GroupID AS GroupID;
END
GO
