USE [Online Course Management System]
GO
/****** Object:  StoredProcedure [dbo].[TotalEarningPerCourse]    Script Date: 1/20/2026 4:45:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TotalEarningPerCourse]
AS
BEGIN
   SET NOCOUNT ON;
SELECT 
     c.CourseID, c.Title AS CourseTitle, SUM(p.Amount) AS TotalEarnings
     FROM Payments p JOIN Courses c ON p.CourseID = c.CourseID
     GROUP BY c.CourseID, c.Title;
END;
GO
