USE [Online Course Management System]
GO
/****** Object:  StoredProcedure [dbo].[SaveCourse]    Script Date: 1/20/2026 4:45:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SaveCourse]
    @CourseID INT = 0,
    @Title VARCHAR(100),
    @Description TEXT,
    @CategoryID INT,
    @UserID INT,
    @Duration VARCHAR(50),
    @Price DECIMAL(10,2),
    @Status VARCHAR(20),
    @StartDate DATE,
    @EndDate DATE,
    @ModifiedBy VARCHAR(50),
    @CreatedBy VARCHAR(50)
AS
BEGIN
    IF @CourseID = 0
    BEGIN
        INSERT INTO Courses (
            Title, Description, CategoryID, UserID, Duration, Price,
            Status, StartDate, EndDate, CreatedBy
        )
        VALUES (
            @Title, @Description, @CategoryID, @UserID, @Duration, @Price,
            @Status, @StartDate, @EndDate, @CreatedBy
        )
    END
    ELSE
    BEGIN
        UPDATE Courses
        SET 
            Title = @Title,
            Description = @Description,
            CategoryID = @CategoryID,
            UserID = @UserID,
            Duration = @Duration,
            Price = @Price,
            Status = @Status,
            StartDate = @StartDate,
            EndDate = @EndDate,
            ModifiedBy = @ModifiedBy,
            ModifiedAt = GETDATE()
        WHERE CourseID = @CourseID
    END
END
GO
