USE [Online Course Management System]
GO
/****** Object:  StoredProcedure [dbo].[GetChatPartnersWithUnreadCount]    Script Date: 1/20/2026 4:45:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetChatPartnersWithUnreadCount]
    @UserID INT
AS
BEGIN
    SELECT 
        CASE 
            WHEN c.SenderID = @UserID THEN c.ReceiverID 
            ELSE c.SenderID 
        END AS PartnerID,
        u.FirstName + ' ' + u.LastName AS PartnerName,
        COUNT(CASE WHEN c.IsRead = 0 AND c.ReceiverID = @UserID THEN 1 END) AS UnreadCount
    FROM Chats c
    INNER JOIN Users u 
        ON u.UserID = CASE 
                        WHEN c.SenderID = @UserID THEN c.ReceiverID 
                        ELSE c.SenderID 
                      END
    WHERE (c.SenderID = @UserID OR c.ReceiverID = @UserID)
    GROUP BY 
        CASE 
            WHEN c.SenderID = @UserID THEN c.ReceiverID 
            ELSE c.SenderID 
        END,
        u.FirstName, u.LastName
    ORDER BY MAX(c.SentAt) DESC
END
GO
