USE [Online Course Management System]
GO
/****** Object:  StoredProcedure [dbo].[SendChatMessage]    Script Date: 1/20/2026 4:45:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SendChatMessage]
    @SenderID INT,
    @ReceiverID INT,
    @Message TEXT
AS
BEGIN
    INSERT INTO Chats (SenderID, ReceiverID, Message, SentAt, IsRead, IsActive)
    VALUES (@SenderID, @ReceiverID, @Message, GETDATE(), 0, 1);
END
GO
