USE [Online Course Management System]
GO
/****** Object:  StoredProcedure [dbo].[GetStudentBYcourse]    Script Date: 1/20/2026 4:45:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetStudentBYcourse]
   @CourseID INT
AS
BEGIN 
  SET NOCOUNT ON;
   SELECT
    u.UserID, CONCAT(u.FirstName, ' ', u.LastName) AS StudentName , u.Email, e.EnrollmentDate, e.Status
    FROM Enrollments e JOIN Users u ON e.UserID = u.UserID
    WHERE e.CourseID = @CourseID
    AND u.Role = 'student'
    AND e.IsActive = 1;
END;
GO
