USE [Online Course Management System]
GO
/****** Object:  StoredProcedure [dbo].[CountEntrolledStudents]    Script Date: 1/20/2026 4:45:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CountEntrolledStudents]
AS
BEGIN
    SET NOCOUNT ON;
SELECT 
    c.CourseID, c.Title AS CourseTitle, COUNT(e.EnrollmentID) AS TotalStudents
    FROM Courses c
    JOIN Enrollments e ON c.CourseID = e.CourseID
    JOIN Users u ON e.UserID = u.UserID
    WHERE u.Role = 'student'
    GROUP BY c.CourseID, c.Title;
END;
GO
