USE [Online Course Management System]
GO
/****** Object:  StoredProcedure [dbo].[GetCourseReviewsByCourseID]    Script Date: 1/20/2026 4:45:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetCourseReviewsByCourseID]
    @CourseID INT
AS
BEGIN
    SELECT 
        cr.ReviewID,
        cr.UserID,
        u.FirstName + ' ' + u.LastName AS StudentName,
        cr.Rating,
        cr.ReviewText,
        cr.ReviewDate
    FROM CourseReviews cr
    INNER JOIN Users u ON cr.UserID = u.UserID
    WHERE cr.CourseID = @CourseID
    ORDER BY cr.ReviewDate DESC
END
GO
