USE [Online Course Management System]
GO
/****** Object:  StoredProcedure [dbo].[GetTop5Students]    Script Date: 1/20/2026 4:45:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE PROCEDURE [dbo].[GetTop5Students]
 AS
 BEGIN
     SET NOCOUNT ON;
 SELECT TOP 5
     u.UserID, u.FirstName, u.LastName, u.Email,
     COUNT(s.SubmissionID) AS TotalSubmissions
     FROM Users u
     JOIN Submissions s ON s.UserID = u.UserID
     WHERE u.Role = 'Student'
     AND u.IsActive = 1
     GROUP BY  u.UserID, u.FirstName, u.LastName,u.Email
     ORDER BY TotalSubmissions DESC;
END;
GO
