USE [Online Course Management System]
GO
/****** Object:  StoredProcedure [dbo].[GetAllPaymentsForInstructor]    Script Date: 1/20/2026 4:45:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllPaymentsForInstructor]
  @Page INT = 1,
  @PageSize INT = 10,
  @SearchTerm NVARCHAR(100) = ''
AS
BEGIN
  DECLARE @Offset INT = (@Page - 1) * @PageSize;

  SELECT 
    p.PaymentID,
    CONCAT(u.FirstName, ' ', u.LastName) AS StudentName,
    c.Title AS CourseName,
    p.Amount,
    p.PaymentDate,
    p.PaymentStatus
  FROM Payments p
  JOIN Courses c ON p.CourseID = c.CourseID
  JOIN Users u ON p.UserID = u.UserID
  WHERE 
    @SearchTerm = '' OR
    CAST(p.PaymentID AS NVARCHAR) LIKE '%' + @SearchTerm + '%' OR
    CONCAT(u.FirstName, ' ', u.LastName) LIKE '%' + @SearchTerm + '%' OR
    c.Title LIKE '%' + @SearchTerm + '%' OR
    CAST(p.Amount AS NVARCHAR) LIKE '%' + @SearchTerm + '%' OR
    CONVERT(VARCHAR, p.PaymentDate, 120) LIKE '%' + @SearchTerm + '%' OR
    p.PaymentStatus LIKE '%' + @SearchTerm + '%'
  ORDER BY p.PaymentDate DESC
  OFFSET @Offset ROWS FETCH NEXT @PageSize ROWS ONLY;

  -- Total Count
  SELECT COUNT(*) AS TotalCount
  FROM Payments p
  JOIN Courses c ON p.CourseID = c.CourseID
  JOIN Users u ON p.UserID = u.UserID
  WHERE 
    @SearchTerm = '' OR
    CAST(p.PaymentID AS NVARCHAR) LIKE '%' + @SearchTerm + '%' OR
    CONCAT(u.FirstName, ' ', u.LastName) LIKE '%' + @SearchTerm + '%' OR
    c.Title LIKE '%' + @SearchTerm + '%' OR
    CAST(p.Amount AS NVARCHAR) LIKE '%' + @SearchTerm + '%' OR
    CONVERT(VARCHAR, p.PaymentDate, 120) LIKE '%' + @SearchTerm + '%' OR
    p.PaymentStatus LIKE '%' + @SearchTerm + '%';
END
GO
