USE [Online Course Management System]
GO
/****** Object:  StoredProcedure [dbo].[GetChatHistory]    Script Date: 1/20/2026 4:45:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetChatHistory]
    @User1 INT,
    @User2 INT
AS
BEGIN
    SELECT 
        c.ChatID,
        c.SenderID,
        CONCAT(s.FirstName, ' ', s.LastName) AS SenderName,
        c.ReceiverID,
        CONCAT(r.FirstName, ' ', r.LastName) AS ReceiverName,
        c.Message,
        c.SentAt,
        c.IsRead
    FROM Chats c
    INNER JOIN Users s ON c.SenderID = s.UserID
    INNER JOIN Users r ON c.ReceiverID = r.UserID
    WHERE 
        (c.SenderID = @User1 AND c.ReceiverID = @User2)
        OR 
        (c.SenderID = @User2 AND c.ReceiverID = @User1)
    ORDER BY c.SentAt;
END
GO
