USE [Online Course Management System]
GO
/****** Object:  StoredProcedure [dbo].[GetSubmissionsByAssignment]    Script Date: 1/20/2026 4:45:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetSubmissionsByAssignment]
  @AssignmentID INT
AS
BEGIN
  SELECT 
    s.SubmissionID,
    s.UserID,
    u.FirstName + ' ' + u.LastName AS StudentName,
    s.CourseID,
    s.AssignmentID,
    s.SubmissionOn,
    s.Grade,
    s.FileURL,
    s.Feedback,
    s.IsActive
  FROM Submissions s
  JOIN Users u ON s.UserID = u.UserID
  WHERE s.AssignmentID = @AssignmentID;
END
GO
