USE [Online Course Management System]
GO
/****** Object:  StoredProcedure [dbo].[MarkGroupMessagesAsRead]    Script Date: 1/20/2026 4:45:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MarkGroupMessagesAsRead]
    @GroupID INT,
    @UserID INT
AS
BEGIN
    INSERT INTO GroupMessageReads (MessageID, UserID)
    SELECT gm.MessageID, @UserID
    FROM GroupMessages gm
    LEFT JOIN GroupMessageReads gmr
      ON gm.MessageID = gmr.MessageID AND gmr.UserID = @UserID
    WHERE gm.GroupID = @GroupID 
      AND gm.SenderID <> @UserID
      AND gmr.UserID IS NULL;
END
GO
