USE [Online Course Management System]
GO
/****** Object:  StoredProcedure [dbo].[GetAssignmentsByCourse]    Script Date: 1/20/2026 4:45:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAssignmentsByCourse]
    @CourseID INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
        a.AssignmentID, a.Title, a.Description, a.DueDate, a.FileURL,
         c.Title AS CourseTitle
         FROM Assignments a JOIN Courses c  ON a.CourseID = c.CourseID
         WHERE a.CourseID = @CourseID;
END;
GO
