USE [Online Course Management System]
GO
/****** Object:  StoredProcedure [dbo].[GetCourseById]    Script Date: 1/20/2026 4:45:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetCourseById]
    @CourseID INT
AS
BEGIN
    SELECT 
        c.CourseID,
        c.Title,
        c.Description,
        c.CategoryID,
        cat.Name AS CategoryName,
        c.UserID,
        u.FirstName + ' ' + u.LastName AS InstructorName,
        c.Duration,
        c.Price,
        c.Status,
        c.StartDate,
        c.EndDate,
        c.CreatedBy,
        c.ModifiedBy
    FROM Courses c
    LEFT JOIN Category cat ON c.CategoryID = cat.CategoryID
    LEFT JOIN Users u ON c.UserID = u.UserID
    WHERE c.CourseID = @CourseID
END
GO
