USE [Online Course Management System]
GO
/****** Object:  StoredProcedure [dbo].[GetStudentDashboard]    Script Date: 1/20/2026 4:45:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetStudentDashboard]
    @UserID INT
AS
BEGIN
    -- Courses & Progress
    SELECT 
        e.EnrollmentID,
        c.CourseID,
        c.Title ,
        u.FirstName + ' ' + u.LastName AS InstructorName,
        e.EnrollmentDate,
        e.Status,
        COUNT(DISTINCT a.AssignmentID) AS TotalAssigned,
        COUNT(DISTINCT s.SubmissionID) AS TotalSubmitted,
        CASE 
            WHEN COUNT(DISTINCT a.AssignmentID) = 0 THEN 0
            ELSE CAST(COUNT(DISTINCT s.SubmissionID) * 100.0 / COUNT(DISTINCT a.AssignmentID) AS INT)
        END AS Progress
    FROM Enrollments e
    INNER JOIN Courses c ON e.CourseID = c.CourseID
    INNER JOIN Users u ON c.UserID = u.UserID
    LEFT JOIN Assignments a ON a.CourseID = c.CourseID AND a.IsActive = 1
    LEFT JOIN Submissions s ON s.AssignmentID = a.AssignmentID AND s.UserID = e.UserID
    WHERE e.UserID = @UserID AND e.IsActive = 1
    GROUP BY e.EnrollmentID, c.CourseID, c.Title, u.FirstName, u.LastName, e.EnrollmentDate, e.Status;

    -- Assignment Submissions with Grades
    SELECT
        s.SubmissionID,
        s.AssignmentID,
        s.CourseID,
        a.Title AS AssignmentTitle,
        c.Title AS CourseTitle,
        s.Grade
    FROM Submissions s
    INNER JOIN Assignments a ON s.AssignmentID = a.AssignmentID
    INNER JOIN Courses c ON s.CourseID = c.CourseID
    WHERE s.UserID = @UserID AND s.IsActive = 1;

END
GO
