.login-container {
  max-width: 400px;
  margin: 3rem auto;
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0.2, 0.2, 0.2, 0.3);
  text-align: center;
  margin-top: 100px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.input-field {
  padding: 0.6rem;
  margin: 0.5rem 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}

button {
  padding: 0.6rem;
  margin-top: 1rem;
  border: none;
  background-color: #007bff;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
}

.login-btn {
  width: 150px;
  align-self: center;
  margin-top: 1rem;
  margin-top: 30px;
}

button[disabled] {
  background-color: #aaa;
  cursor: not-allowed;
}

.error-text {
  color: red;
  font-size: 0.9rem;
  margin-top: 0.25rem;
}

.register-option {
  margin-top: 1.5rem;
  font-size: 0.95rem;
}

.register-btn {
  margin-left: 0.5rem;
  background: transparent;
  color: #007bff;
  border: none;
  cursor: pointer;
  
}

.register-btn:hover {
  text-decoration: underline;
}