.search-bar {
  width: 350px;
  height: 16;
  margin-top: 5px;
}

.table-card {
  margin: 25px auto;
  max-width: 1000px;
  padding: 16px;
  background: #fff;
  border-radius: 8px;
}

.header-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.full-width-table {
  width: 100%;
}

mat-header-cell, mat-cell {
  padding: 8px;
  font-size: 14px;
}

mat-icon {
  vertical-align: middle;
}

.create-a {
  margin-right: 100px;
}

.create-my {
  margin-right: 100px;
}

.mat-sort-header-arrow {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.mat-header-cell:hover .mat-sort-header-arrow,
.mat-sort-header-sorted .mat-sort-header-arrow {
  opacity: 1;
}

.mat-elevation-z2 {
    font-weight: 600;
  font-size: 14px;
  color: #2c3e50;
  padding: 14px 16px;
  border-bottom: 1px solid #dcdcdc;
  background-color: #ebf3fc;
  border-radius: 8px;
  
}

table th {
  background-color: #94c6f7;
  border-radius: 8px;
  text-decoration: underline;
}