/* Floating button */
.chat-fab {
  position: fixed;
  margin-right: 20px;
  bottom: 20px;
  right: 20px;
  background: #0078d7;
  color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0,0,0,0.3);
  transition: background 0.3s ease;
}
.chat-fab:hover {
  background: #005fa3;
}

/* Chat window */
.chat-window {
  position: fixed;
  bottom: 80px;
  right: 20px;
  width: 360px;
  height: 420px;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0px 6px 12px rgba(0,0,0,0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* Header */
.chat-header {
  background: #0078d7;
  color: white;
  padding: 10px 14px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.close-btn {
  background: transparent;
  border: none;
  font-size: 16px;
  color: white;
  cursor: pointer;
}

.chat-body {
  flex: 1;
  font-size: 15px;
  padding: 10px;
  background: #f7f7f7;
  display: flex;
  flex-direction: column;
  gap: 10px;

  overflow-y: auto; 
  overflow-x: hidden; 
}

.chat-message {
  display: flex;
  align-items: flex-end;
  gap: 8px;
  max-width: 100%;
}

/* Avatar */
.avatar {
  font-size: 22px;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ddd;
  border-radius: 50%;  
  flex-shrink: 0;
}


.chat-bubble {
  max-width: 75%;
  padding: 10px 14px;
  border-radius: 16px;
  word-break: break-word;
  overflow-wrap: anywhere;
  white-space: pre-wrap;
  box-sizing: border-box;
}


.student {
  justify-content: flex-end;
}
.student .avatar {
  order: 2; 
  background: #0078d7;
  color: white;
}
.student .chat-bubble {
  background: #0078d7;
  color: #fff;
  border-radius: 16px 16px 0 16px;
}


.ai {
   display: flex;
   justify-content: flex-start; }

.ai .avatar {
  justify-content: flex-start;
  background: #e5e5ea;
}
.ai .chat-bubble {
  background: #e5e5ea;
  color: #000;
  border-radius: 16px 16px 16px 0;
}


/* Footer */
.chat-footer {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ddd;
  background: #fff;
}
.chat-footer input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
}
.chat-footer button {
  margin-left: 8px;
  padding: 8px 14px;
  border: none;
  background: #0078d7;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  transition: background 0.3s ease;
}
.chat-footer button:hover {
  background: #005fa3;
  border: 1px solid #080808;
  border-radius: 20px;
  outline: none;
}


.chat-footer input:hover {
  border: 1px solid #080808;
  border-radius: 20px;
  outline: none;
}

