
.table-card {
  margin: 25px auto;
  max-width: 1000px;
  padding: 16px;
  background: #fff;
  border-radius: 8px;
}

.header-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.full-width-table {
  width: 100%;
}

mat-header-cell, mat-cell {
  padding: 8px;
  font-size: 14px;
}

mat-icon {
  vertical-align: middle;
}
table th {
  background-color: #94c6f7;
  border-radius: 8px;
  text-decoration: underline;
}