.app-container {
  height: 100vh;
  text-align: start;
}

.app-sidenav {
  width: 250px;
  background-color: #04488b !important;
  color: white;

}


.app-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 64px;
  background-color: #083e8a;
  z-index: 1000;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}


.header-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  font-weight: 600;
  color: white;
  white-space: nowrap;
}

.main-content {
  margin-top: 64px;
  padding: 20px;
}

.profile-box {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  color: white;
  background-color: rgb(221, 245, 252);
}

.profile-box:hover {
  opacity: 0.9;
}

.spacer {
  flex: 1;
}


mat-toolbar {
  background-color: #083f7e !important;
  color:rgb(246, 245, 248)
}

mat-nav-list a.active-link {
  background-color: #0a3b74;
  font-weight: bold;
  border-radius: 10px;
}

mat-nav-list a,
mat-nav-list a span,
mat-nav-list .mat-list-item-content,
.mat-list-item span {
  color: rgb(252, 248, 248);
}


.mat-icon {
color: rgb(248, 246, 250);
vertical-align: middle;
font-size: 23px;
}

.ml-2{
color: rgb(248, 246, 250);
margin-left: 5px;
margin-top: 3px;
}

.app-content {
  padding: 24px;
  background-color: #f5f5f5;
  height: 100%;
}

.page-body {
  padding: 24px;
  flex: 1;
  overflow-y: auto;
}

mat-toolbar button[mat-icon-button] {
  margin-left: 12px;
}

.notification-icon {
  margin-right: 12px;
  cursor: pointer;
  position: relative;
  display: inline-flex;
  align-items: center;
}

.mat-badge-content {
  font-size: 10px;
  min-width: 16px;
  height: 16px;
  line-height: 16px;
}

.theme-toggle-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
  margin-right: 15px;
  
}
